<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu List</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list lines="none">
        <ion-menu-toggle auto-hide="false">
          <ion-item routerLink="/tabs/dashboard" routerDirection="root" detail="false">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerLink="/pengaturan" routerDirection="forward" detail="false">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Pengaturan</ion-label>
          </ion-item>

          <ion-item routerLink="/tentang" routerDirection="forward" detail="false">
            <ion-icon name="information-circle-outline" slot="start"></ion-icon>
            <ion-label>Tentang Aplikasi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item id="logout-trigger" button detail="false">
          <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
          <ion-label color="danger">Logout</ion-label>
        </ion-item>
      </ion-list>

      <ion-alert
        trigger="logout-trigger"
        header="Konfirmasi Logout"
        message="Apakah Anda yakin ingin keluar dari aplikasi?"
        [buttons]="logoutButtons"
      ></ion-alert>
    </ion-content>
  </ion-menu>

  <!-- Ini yang jadi "isi" halaman, tempat semua page (termasuk tabs) dirender -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>