<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full" inset="true">
    <ion-item>
      <ion-icon name="moon-outline" slot="start"></ion-icon>
      <ion-label>Mode Gelap</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="themeService.isDark"
        (ionChange)="onToggleDarkMode()"
      ></ion-toggle>
    </ion-item>
  </ion-list>

  <p class="ion-padding-horizontal hint">
    Aktifkan mode gelap agar lebih nyaman digunakan pada malam hari.
  </p>
</ion-content>
