<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produk">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Produk</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transaksi">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Transaksi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
